body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.status {
  font-size: 1.5em;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.online {
  color: green;
  background-color: #e6ffea;
}

.offline {
  color: red;
  background-color: #ffe6e6;
}
table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
}